.form {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.8);
  background-color: #f3f0f0;
}

.form h1 {
  font-size: 16pt;
  margin-bottom: 2em;
}

.form label {
  margin-bottom: .5em;
}

.etanol, .gasolina {
  width: 15em;
  height: 1.5em;
  margin-bottom: 1.5em;
  font-size: 12pt;
}

.btn {
  width: 15.5em;
  height: 1.8em;
  margin-bottom: 1.5em;
  font-size: 12pt;
  border: none;
  background-color: #e5f505;
}

.btn:hover {
  background-color: #deee05;
}

.btn:active {
  background-color: #727a02;
}

.form p {
  text-align: center;
}